aiofiles==23.2.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.2
aiolimiter==1.1.0
aioprocessing==2.0.1
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyascii==0.3.2
anyio==3.7.1
Arpeggio==2.0.2
arrow==1.3.0
asttokens==2.4.1
async-property==0.2.2
attrs==24.2.0
audioread==3.0.1
av==13.1.0
babel==2.16.0
bangla==0.0.2
beautifulsoup4==4.12.3
blis==1.0.1
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
Brotli==1.1.0
browser-cookie3==0.19.1
bs4==0.0.2
catalogue==2.0.10
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpathlib==0.20.0
cloup==3.0.5
confection==0.1.5
construct==2.8.8
coqpit==0.0.17
cutlet==0.4.0
cymem==2.0.10
Cython==3.0.11
dacite==1.8.1
dateparser==1.1.8
debugpy==1.8.9
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
docopt==0.6.2
dunamai==1.22.0
einops==0.8.0
einx==0.3.0
encodec==0.1.1
executing==2.1.0
fastapi==0.115.5
faust-cchardet==2.1.19
ffmpy==0.4.0
filelock==3.16.0
frozendict==2.4.6
frozenlist==1.4.1
fsspec==2024.10.0
fugashi==1.4.0
g2pkk==0.1.2
gradio==5.7.1
gradio_client==1.5.0
grpcio==1.66.2
gruut==2.4.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
h11==0.14.0
h2==4.1.0
hangul-romanize==0.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.2
huggingface-hub==0.26.3
humanfriendly==10.0
hyperframe==6.0.1
idna==3.7
ifaddr==0.2.0
ImageHash==4.3.1
imageio==2.36.1
imageio-ffmpeg==0.5.1
importlib_metadata==8.5.0
inflect==7.4.0
inquirerpy==0.3.4
ipython==8.30.0
jaconv==0.4.0
jamo==0.4.1
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.0
joblib==1.4.2
jsonlines==1.2.0
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
librosa==0.10.2.post1
limiter==0.5.0
linkify-it-py==2.0.3
llvmlite==0.43.0
loguru==0.7.2
lxml==5.3.0
lz4==4.3.3
m3u8==6.0.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mecab-python3==1.0.10
mojimoji==0.0.13
more-itertools==10.5.0
moviepy==2.1.1
mpegdash==0.4.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.11
music-tag==0.4.3
mutagen==1.47.0
networkx==3.4.2
nltk==3.9.1
num2words==0.5.13
numba==0.60.0
numpy==1.26.4
ofscraper==3.12.8
openai==1.55.3
orjson==3.10.12
packaging==24.1
pandas==2.2.3
parso==0.8.4
parver==0.5
pathvalidate==3.2.1
pexpect==4.9.0
pfzy==0.3.4
pgEdge_pulumi_pgedge
pillow==10.4.0
platformdirs==4.3.2
poetry-dynamic-versioning==1.4.1
pooch==1.8.2
preshed==3.0.9
proglog==0.1.10
prompt_toolkit==3.0.47
protobuf==4.25.5
psutil==5.9.8
ptyprocess==0.7.0
pulumi>=3.0.0,<4.0.0
pure_eval==0.2.3
pwinput==1.0.3
pybase16384==0.3.7
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.18.0
pykakasi==2.3.0
pymp4==1.4.0
pynumparser==1.4.1
PyOgg==0.6.14a1
pypinyin==0.53.0
pysbd==0.3.4
python-crfsuite==0.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.12
python-slugify==8.0.4
pytube==15.0.0
pytz==2024.2
PyWavelets==1.7.0
pywidevine==1.8.0
PyYAML==6.0.2
RapidFuzz==3.10.0
redis==5.1.1
regex==2024.11.6
requests==2.32.3
rich==13.8.1
ruff==0.8.1
safehttpx==0.1.1
safetensors==0.4.5
schedule==1.2.2
scikit-learn==1.5.2
scipy==1.14.1
semantic-version==2.10.0
semver==2.13.0
setproctitle==1.3.3
setuptools==70.3.0
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
soundcloud-v2==1.6.0
soundfile==0.12.1
soupsieve==2.6
soxr==0.5.0.post1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
speedtest-cli==2.1.3
spotdl==4.2.8
spotipy==2.24.0
srsly==2.4.8
stack-data==0.6.3
starlette==0.41.3
StrEnum==0.4.15
SudachiDict-core==20241021
SudachiPy==0.6.9
sympy==1.13.1
syncedlyrics==1.0.1
tabulate==0.9.0
tenacity==8.5.0
text-unidecode==1.3
textual==0.52.1
thinc==8.3.2
threadpoolctl==3.5.0
tk==0.1.0
token-bucket==0.3.0
tokenizers==0.20.3
tomlkit==0.12.0
torch==2.5.1
torchaudio==2.5.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.46.3
typeguard==4.4.1
typer==0.14.0
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uc-micro-py==1.0.3
Unidecode==1.3.8
unidic-lite==1.0.8
urllib3==2.2.2
uvicorn==0.23.2
vector-quantize-pytorch==1.20.10
virtualenv==20.26.4
vocos==0.1.0
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
websockets==14.1
win32-setctime==1.1.0
wrapt==1.16.0
xxhash==3.5.0
yarl==1.11.1
yt-dlp==2024.10.22
ytmusicapi==1.8.2
zeroconf==0.135.0
zipp==3.21.0
